In [1]:
import wrds
import pandas as pd
db = wrds.Connection(wrds_username='yuheng777')
#Pass: YuhengLin1101

c:\Users\yuanr\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

Loading library list...
Done

In [26]:
db.describe_table(library = 'crsp_a_stock', table = 'dsfhdr')

Approximately 37776 rows in crsp_a_stock.dsfhdr.

,name,nullable,type,comment
0,permno,True,INTEGER,PERMNO
1,permco,True,INTEGER,PERMCO
2,hshrcd,True,SMALLINT,Share Code Header
3,dlstcd,True,SMALLINT,Delisting Code Header
4,hcusip,True,VARCHAR(8),CUSIP Header
5,htick,True,VARCHAR(8),Ticker Symbol Header
6,hcomnam,True,VARCHAR(35),Company Name Header
7,htsymbol,True,VARCHAR(10),Trading Symbol Header
8,hnaics,True,VARCHAR(7),North American Industry Classification Header
9,hprimexc,True,VARCHAR(1),Primary Exchange Header
10,htrdstat,True,VARCHAR(1),Trading Status Header
11,hsecstat,True,VARCHAR(1),Security Status Header
12,cusip,True,VARCHAR(8),Header CUSIP Identifier
13,compno,True,DOUBLE PRECISION,NasdaqCompany Number
14,issuno,True,DOUBLE PRECISION,Nasdaq Issue Number
15,hexcd,True,DOUBLE PRECISION,Header Exchange Code
16,hsiccd,True,DOUBLE PRECISION,Header SIC Code
17,numnam,True,DOUBLE PRECISION,Number of Names Structures
18,numdis,True,DOUBLE PRECISION,Number of Distribution Structures
19,numshr,True,DOUBLE PRECISION,Number of Shares Structure
20,numdel,True,DOUBLE PRECISION,Number of Delisting Structures
21,numndi,True,DOUBLE PRECISION,Number of Nasdaq Information Structure
22,begdat,True,DATE,Begin of Stock Data
23,enddat,True,DATE,End of Stock Data
24,begprc,True,DATE,Begin of Price Data
25,endprc,True,DATE,End of Price Data
26,begret,True,DATE,Begin of Return Data
27,endret,True,DATE,End of Return Data
28,begrtx,True,DATE,Begin of Return Data w/o Dividends
29,endrtx,True,DATE,End of Return Data w/o Dividends
30,begbidlo,True,DATE,Begin of Bid or Low Data
31,endbidlo,True,DATE,End of Bid or Low Data
32,begaskhi,True,DATE,Begin of Ask or High Data
33,endaskhi,True,DATE,End of Ask or High Data
34,begvol,True,DATE,Begin of Bid or Low Data
35,endvol,True,DATE,End of Bid or Low Data
36,begbid,True,DATE,Begin of Bid Data
37,endbid,True,DATE,End of Bid Data
38,begask,True,DATE,Begin of Ask Data
39,endask,True,DATE,End of Ask Data
40,begopr,True,DATE,Begin of Open Price
41,endopr,True,DATE,End of Open Price
42,hsicmg,True,DOUBLE PRECISION,Header SIC Major Gorup
43,hsicig,True,DOUBLE PRECISION,Header SIC Industry Group

In [2]:
stock_names = db.raw_sql('select * from crsp_a_stock.dsfhdr')
display(stock_names)

,permno,permco,hshrcd,dlstcd,hcusip,htick,hcomnam,htsymbol,hnaics,hprimexc,...,begvol,endvol,begbid,endbid,begask,endask,begopr,endopr,hsicmg,hsicig
0,10000,7952,10,560,68391610,None,OPTIMUM MANUFACTURING INC,OMFGA,None,Q,...,1986-01-07,1987-06-11,None,None,None,None,None,None,39.0,399.0
1,10001,7953,11,233,36720410,None,GAS NATURAL INC,EGAS,221210,A,...,1986-01-09,2017-08-03,1986-09-02,2017-08-03,1986-09-02,2017-08-03,1992-06-15,2017-08-03,49.0,492.0
2,10002,7954,11,231,05978R10,None,BANCTRUST FINANCIAL GROUP INC,BTFG,551111,Q,...,1986-01-10,2013-02-15,1992-06-01,2013-02-15,1992-06-01,2013-02-15,1992-06-15,2013-02-15,60.0,602.0
3,10003,7957,11,231,39031810,None,GREAT COUNTRY BK ASONIA CT,GCBK,None,Q,...,1986-01-14,1995-12-15,1986-03-18,1995-12-15,1986-03-18,1995-12-15,1992-06-15,1995-12-15,60.0,602.0
4,10004,7960,10,575,18906310,None,CLOSE OUTS PLUS INC,CLSO,None,Q,...,1986-01-15,1986-01-17,None,None,None,None,None,None,53.0,533.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37771,93432,53450,11,585,47737R10,None,JIANGBO PHARMACEUTICALS INC,JGBO,541870,Q,...,2010-06-08,2011-05-31,2010-06-08,2011-05-31,2010-06-08,2011-05-31,2010-06-08,2011-05-31,73.0,738.0
37772,93433,53451,11,584,92870X30,None,VOLTARI CORP,VLTC,511210,Q,...,2010-06-18,2016-12-22,2010-06-18,2016-12-22,2010-06-18,2016-12-22,2010-06-18,2016-12-22,99.0,999.0
37773,93434,53427,11,100,78513510,SANW,S & W SEED CO,SANW,111998,Q,...,2010-06-14,2023-12-29,2010-06-14,2023-12-29,2010-06-14,2023-12-29,2010-06-14,2023-12-29,99.0,999.0
37774,93435,53452,11,584,82936G20,None,SINO CLEAN ENERGY INC,SCEI,522310,Q,...,2010-06-14,2012-05-18,2010-06-14,2012-05-18,2010-06-14,2012-05-18,2010-06-14,2012-05-18,61.0,616.0
37775,93436,53453,11,100,88160R10,TSLA,TESLA INC,TSLA,336110,Q,...,2010-06-29,2023-12-29,2010-06-29,2023-12-29,2010-06-29,2023-12-29,2010-06-29,2023-12-29,99.0,999.0

In [3]:
stock_names['enddat'] = pd.to_datetime(stock_names['enddat'])
stock_names['begdat'] = pd.to_datetime(stock_names['begdat'])
current_stock_names = stock_names[stock_names['enddat'] == pd.Timestamp('2023-12-29')]
current_stock_names = current_stock_names[current_stock_names['begdat'] <= pd.Timestamp('2019-01-01')].reset_index()

display(current_stock_names)

,index,permno,permco,hshrcd,dlstcd,hcusip,htick,hcomnam,htsymbol,hnaics,...,begvol,endvol,begbid,endbid,begask,endask,begopr,endopr,hsicmg,hsicig
0,26,10026,7976,11,100,46603210,JJSF,J & J SNACK FOODS CORP,JJSF,311930,...,1986-02-04,2023-12-29,1986-05-20,2023-12-29,1986-05-20,2023-12-29,1992-06-15,2023-12-29,20.0,205.0
1,28,10028,7978,11,100,29402E10,ELA,ENVELA CORP,ELA,423940,...,1986-02-05,2023-12-29,1992-12-28,2023-12-29,1992-12-28,2023-12-29,1992-06-15,2023-12-29,50.0,509.0
2,32,10032,7980,11,100,72913210,PLXS,PLEXUS CORP,PLXS,334418,...,1986-02-05,2023-12-29,1986-08-19,2023-12-29,1986-08-19,2023-12-29,1992-06-15,2023-12-29,36.0,367.0
3,44,10044,7992,11,100,77467X10,RMCF,ROCKY MOUNTAIN CHOC FAC INC NEW,RMCF,445292,...,1986-02-11,2023-12-29,1992-06-01,2023-12-29,1992-06-01,2023-12-29,1992-06-15,2023-12-29,20.0,206.0
4,65,10065,20023,14,100,00621210,ADX,ADAMS EXPRESS CO,ADX,525910,...,1925-12-31,2023-12-29,1925-12-31,2023-12-29,1925-12-31,2023-12-29,1925-12-31,2023-12-29,67.0,672.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5667,37765,93426,53443,11,100,92835K10,VPG,VISHAY PRECISION GROUP INC,VPG,334416,...,2010-07-07,2023-12-29,2010-07-07,2023-12-29,2010-07-07,2023-12-29,2010-07-07,2023-12-29,36.0,367.0
5668,37766,93427,53445,12,100,G3323L10,FN,FABRINET,FN,333310,...,2010-06-25,2023-12-29,2010-06-25,2023-12-29,2010-06-25,2023-12-29,2010-06-25,2023-12-29,38.0,382.0
5669,37768,93429,53447,11,100,12503M10,CBOE,C B O E GLOBAL MARKETS INC,CBOE,518210,...,2010-06-15,2023-12-29,2010-06-15,2023-12-29,2010-06-15,2023-12-29,2010-06-15,2023-12-29,73.0,737.0
5670,37773,93434,53427,11,100,78513510,SANW,S & W SEED CO,SANW,111998,...,2010-06-14,2023-12-29,2010-06-14,2023-12-29,2010-06-14,2023-12-29,2010-06-14,2023-12-29,99.0,999.0
5671,37775,93436,53453,11,100,88160R10,TSLA,TESLA INC,TSLA,336110,...,2010-06-29,2023-12-29,2010-06-29,2023-12-29,2010-06-29,2023-12-29,2010-06-29,2023-12-29,99.0,999.0

In [64]:
db.describe_table(library='crsp_a_stock',table='dsf')

Approximately 105258384 rows in crsp_a_stock.dsf.

,name,nullable,type,comment
0,cusip,True,VARCHAR(8),CUSIP Header
1,permno,True,INTEGER,Permanent Security Number
2,permco,True,INTEGER,Permanent Company Number
3,issuno,True,INTEGER,Nasdaq Issue Number
4,hexcd,True,SMALLINT,Exchange Code Header
5,hsiccd,True,INTEGER,Standard Industrial Classification Code
6,date,True,DATE,Date of Observation
7,bidlo,True,"NUMERIC(11, 5)",Bid or Low Price
8,askhi,True,"NUMERIC(11, 5)",Ask or High Price
9,prc,True,"NUMERIC(11, 5)",Price or Bid/Ask Average
10,vol,True,"NUMERIC(10, 0)",Volume
11,ret,True,"NUMERIC(10, 6)",Returns
12,bid,True,"NUMERIC(11, 5)",Bid
13,ask,True,"NUMERIC(11, 5)",Ask
14,shrout,True,DOUBLE PRECISION,Shares Outstanding
15,cfacpr,True,DOUBLE PRECISION,Cumulative Factor to Adjust Prices
16,cfacshr,True,DOUBLE PRECISION,Cumulative Factor to Adjust Shares/Vol
17,openprc,True,"NUMERIC(11, 5)",Price Alternate
18,numtrd,True,INTEGER,Number of Trades
19,retx,True,"NUMERIC(10, 6)",Returns without Dividends

In [ ]:
def get_stock_data(sample_stock):
    cusip_list = sample_stock['cusip'].tolist()
    return tuple(cusip_list)

def query_data(cusip):
    prm = {'cus' : cusip, 'start_date' : '2019-01-01', 'none' : 'NaN'}
    data = db.raw_sql('select cusip, prc, openprc, date from crsp_a_stock.dsf where cusip == %(cus)s and date >= %(start_date)s', params = prm)
    return data

display(query_data('45383610'))

ProgrammingError: (psycopg2.errors.UndefinedFunction) operator does not exist: character varying == unknown
LINE 1: ..., openprc, date from crsp_a_stock.dsf where cusip == '453836...
                                                             ^
HINT:  No operator matches the given name and argument types. You might need to add explicit type casts.

[SQL: select cusip, prc, openprc, date from crsp_a_stock.dsf where cusip == %(cus)s and date >= %(start_date)s]
[parameters: {'cus': '45383610', 'start_date': '2019-01-01', 'none': 'NaN'}]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
columns_to_add = ['htick', 'hcomnam', 'hsiccd', 'numshr']

for col in columns_to_add:
    data[col] = None

last_cusip = None
for i in range(len(data)):
    if data['cusip'][i] == last_cusip:
        for col in columns_to_add:
            data.at[i, col] = data.at[i-1, col]
        continue
    for col in columns_to_add:
        data.at[i, col] = current_stock_names[current_stock_names['cusip'] == data['cusip'][i]][col].values[0]
    last_cusip = data['cusip'][i]

display(data)
print(data['htick'].unique())

,cusip,prc,openprc,date,htick,hcomnam,hsiccd,numshr
0,45383610,72.09,69.620,2019-01-02,INDB,INDEPENDENT BANK CORP MA,6020.0,274.0
1,45383610,71.60,71.820,2019-01-03,INDB,INDEPENDENT BANK CORP MA,6020.0,274.0
2,45383610,73.73,72.400,2019-01-04,INDB,INDEPENDENT BANK CORP MA,6020.0,274.0
3,45383610,74.12,73.670,2019-01-07,INDB,INDEPENDENT BANK CORP MA,6020.0,274.0
4,45383610,75.39,74.970,2019-01-08,INDB,INDEPENDENT BANK CORP MA,6020.0,274.0
...,...,...,...,...,...,...,...,...
62895,25460G19,18.67,18.188,2023-12-22,YINN,DIREXION SHARES E T F TRUST,6726.0,172.0
62896,25460G19,18.98,19.030,2023-12-26,YINN,DIREXION SHARES E T F TRUST,6726.0,172.0
62897,25460G19,19.15,19.140,2023-12-27,YINN,DIREXION SHARES E T F TRUST,6726.0,172.0
62898,25460G19,20.54,20.290,2023-12-28,YINN,DIREXION SHARES E T F TRUST,6726.0,172.0
62899,25460G19,20.94,20.510,2023-12-29,YINN,DIREXION SHARES E T F TRUST,6726.0,172.0

['INDB' 'AMWD' 'CSBR' 'LWAY' 'ACNB' 'ITT' 'APTV' 'BWG' 'SUN' 'BERY' 'IQV'
 'NBSE' 'LPCN' 'HRTG' 'AY' 'XHR' 'RACE' 'MESO' 'VSHY' 'MFUS' 'JVAL' 'CLIX'
 'BWB' 'POWA' 'BSGM' 'ERSX' 'CTAS' 'HCSG' 'SWK' 'EFX' 'MFM' 'RGS' 'ARCB'
 'CVU' 'UHS' 'AEO' 'VECO' 'GEF' 'HUBG' 'TBI' 'UONEK' 'IDGT' 'IXJ' 'MCN'
 'SIMO' 'GGME' 'SSKN' 'LUNA' 'LOPE' 'YINN']

In [77]:
# Group the data by 'ticker'
grouped = data.groupby('htick')

# Save each group to a separate CSV file
for ticker, group in grouped:
    filename = f"./company_price/{ticker}.csv"
    group.to_csv(filename, index=False)

In [7]:
help(db.raw_sql)

Help on method raw_sql in module wrds.sql:

raw_sql(sql, coerce_float=True, date_cols=None, index_col=None, params=None, chunksize=500000, return_iter=False) method of wrds.sql.Connection instance
    Queries the database using a raw SQL string.

    :param sql: SQL code in string object.
    :param coerce_float: (optional) boolean, default: True
        Attempt to convert values to non-string, non-numeric objects
        to floating point. Can result in loss of precision.
    :param date_cols: (optional) list or dict, default: None
        - List of column names to parse as date
        - Dict of ``{column_name: format string}`` where
            format string is:
              strftime compatible in case of parsing string times or
              is one of (D, s, ns, ms, us) in case of parsing
                integer timestamps
        - Dict of ``{column_name: arg dict}``,
            where the arg dict corresponds to the keyword arguments of
              :func:`pandas.to_datetime`
    :param index_col: (optional) string or list of strings,
      default: None
        Column(s) to set as index(MultiIndex)
    :param params: parameters to SQL query, if parameterized.
    :param chunksize: (optional) integer or None default: 500000
        Process query in chunks of this size. Smaller chunksizes can save
        a considerable amount of memory while query is being processed.
        Set to None run query w/o chunking.
    :param return_iter: (optional) boolean, default:False
        When chunksize is not None, return an iterator where chunksize
        number of rows is included in each chunk.

    :rtype: pandas.DataFrame or or Iterator[pandas.DataFrame]


    Usage ::
    # Basic Usage
    >>> data = db.raw_sql('select cik, fdate, coname from wrdssec_all.dforms;', date_cols=['fdate'], index_col='cik')
    >>> data.head()
        cik        fdate       coname
        0000000003 1995-02-15  DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y...
        0000000003 1996-02-14  DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y...
        0000000003 1997-02-19  DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y...
        0000000003 1998-03-02  DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y...
        0000000003 1998-03-10  DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y..
        ...

    # Parameterized SQL query
    >>> parm = {'syms': ('A', 'AA', 'AAPL'), 'num_shares': 50000}
    >>> data = db.raw_sql('select * from taqmsec.ctm_20030910 where sym_root in %(syms)s and size > %(num_shares)s', params=parm)
    >>> data.head()
              date           time_m ex sym_root sym_suffix tr_scond      size   price tr_stopind tr_corr     tr_seqnum tr_source tr_rf
        2003-09-10  11:02:09.485000  T        A       None     None  211400.0  25.350          N      00  1.929952e+15         C  None
        2003-09-10  11:04:29.508000  N        A       None     None   55500.0  25.180          N      00  1.929952e+15         C  None
        2003-09-10  15:08:21.155000  N        A       None     None   50500.0  24.470          N      00  1.929967e+15         C  None
        2003-09-10  16:10:35.522000  T        A       None        B   71900.0  24.918          N      00  1.929970e+15         C  None
        2003-09-10  09:35:20.709000  N       AA       None     None  108100.0  28.200          N      00  1.929947e+15         C  None